# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Model Loader/ModelLoader/.vs/ModelLoader/v16/Browse.VC.db
Model Loader/ModelLoader/.vs/ModelLoader/v16/Browse.VC.opendb
*.ipch
Model Loader/.vs/ModelLoader/v16/Browse.VC.opendb
Model Loader/.vs/ModelLoader/v16/Browse.VC.db
Model Loader/.vs/ModelLoader/v16/Browse.VC.db
*.db
*.html
*.js
Model Loader/.vs/ModelLoader/v16/Browse.VC.db
